.appLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #111;
}

.mainContainer {
  display: flex;
  flex-grow: 1;
  overflow: hidden; 
}

.content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto; 
}

