.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.posterContainer {
  width: 100%;
  max-width: 200px;
  margin-left: auto; 
  margin-right: auto; 
  aspect-ratio: 2 / 3; /* Proporção de poster */
  border-radius: 8px;
  background-color: #f0f0f0;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Garante que a imagem não ultrapasse as bordas */
}

.posterImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posterPlaceholder {
  color: #999;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

