body.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #333333;
  color: #333;
}

.register-container {
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.h2-criar {
  margin-bottom: 25px;
  font-size: 24px;
  color: #1e3c72;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

.button-group-registrar {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-registrar {
  width:100%;
  background-color: #0084ff;
  color:white;
  cursor: pointer;
}

.btn-registrar:hover{
  background-color: #0a57a0d7;
}

.btn-voltar{
  width:100%;
  margin-top: 10px; /* Adiciona espaçamento acima do botão "Voltar" */
  background-color: #0084ff;
  color:white;
}

.btn-voltar:hover {
  background-color: #0a57a0d7; /* Cor de fundo ao passar o mouse */
}