body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Garante que ocupe a altura total da página */
}

.container {
  display: flex;
  background-color: #f7f7f7;
  flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha, se necessário */
  justify-content: center; /* Centraliza os itens no eixo horizontal */
  gap: 20px; /* Espaçamento entre os quadrados */
}


.card {
  background-color: #ffffff; /* Cor de fundo branca */
  color: #000000; /* Fonte preta */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-header {
  background-color: #ffffff; /* Cor de fundo branca */
  color: #000000; /* Fonte preta */
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  background-color: #ffffff; /* Cor de fundo branca */
  color: #000000; /* Fonte preta */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha o conteúdo verticalmente */
  align-items: center; /* Alinha horizontalmente */
  gap: 10px; /* Espaçamento entre os botões */
  padding: 20px; /* Adiciona espaço interno */
}

button {
  background-color: #d0cccc;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #bababa;
}

.card-image {
  width: 75px; /* Ajusta o tamanho da imagem */
  height: auto;
  margin-bottom: 10px;
}
