.formWrapper {
  /* ... estilos do container ... */
  padding: 2rem;
  color: white;
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}


.forgotPasswordLink {
  font-size: 0.9rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.forgotPasswordLink:hover {
  text-decoration: underline;
  color: #494949;
}

.submitButton {
  padding: 14px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  background-color: #300000 !important; /* Cor da Netflix */
  margin-bottom: 1rem !important;
}

.submitButton:hover {
  background-color: #580101 !important; /* Cor da Netflix */
}

.footerNote {
  color: #aaa;
}

.footerNote p {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.footerNote a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.footerNote a:hover {
  color: #494949;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  font-weight: bold;
}



