.formWrapper {
  /* ... estilos do container ... */
  padding: 2rem;
  color: white;
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 2rem;
}

/* Nova classe para estilizar os TextFields */
.textField {
  margin-bottom: 1rem !important;
}


.textField :global(.MuiInputBase-input) {
  color: #fff;
  background-color: #464646;
  border-radius: 6px;
}

.textField :global(.MuiInputLabel-root) {
  color: #ffffff;
}

.textField :global(.Mui-focused) {
  color: #ffffff !important; /* Cor do label quando focado */
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.forgotPasswordLink {
  color: #aaa;
  text-decoration: none;
  font-size: 0.9rem;
}
.forgotPasswordLink:hover {
  text-decoration: underline;
}

.submitButton {
  padding: 14px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  background-color: #300000 !important; /* Cor da Netflix */
  margin-bottom: 1rem !important;
}

.submitButton:hover {
  background-color: #580101 !important; /* Cor da Netflix */
}

.footerNote {
  color: #aaa;
}

.footerNote a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #464646 inset !important; 
  -webkit-text-fill-color: #fff !important; 
  transition: background-color 5000s ease-in-out 0s;
}


