.formWrapper {
  padding: 2rem;
  color: var(--text-light);
  text-align: center;
}

.logo {
  width: 100px; /* Um pouco maior para a nova logo */
  margin-bottom: 2.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.forgotPasswordLink {
  font-size: 0.9rem;
  color: var(--text-medium);
  font-weight: 500;
  text-decoration: none;
}
.forgotPasswordLink:hover {
  text-decoration: underline;
  color: var(--text-light);
}

/* O botão agora usa a cor primária da nossa paleta */
.submitButton {
  padding: 14px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  background-color: #3176f4 !important;
  margin-bottom: 1.5rem !important;
  border-radius: 6px !important;
}

.submitButton:hover {
  background-color: var(--primary-color-hover) !important;
}

.footerNote {
  color: var(--text-medium);
}

.footerNote p {
  color: var(--text-medium);
  font-weight: 400;
}

.footerNote a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 600;
}

.footerNote a:hover {
  text-decoration: underline;
}
