.textField {
  margin-bottom: 1rem !important;
}

.textField :global(.MuiFilledInput-root) {
  background-color: rgba(70, 70, 70, 0.7) !important;
  border-radius: 6px;
}

.textField :global(.MuiInputBase-input) {
  color: #ffffff;
  background-color: #464646;
  border-radius: 6px;
}

.textField :global(.MuiInputLabel-root) {
  color: #ffffff;
}

.textField :global(.Mui-focused) {
  color: #ffffff !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #464646 inset !important; 
  -webkit-text-fill-color: #fff !important; 
  transition: background-color 5000s ease-in-out 0s; 
}
