
.formWrapper {
  padding: 2rem 2.5rem; 
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px; 
  height: auto;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem; 
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5rem; 
  align-items: center;
}

.instructions {
  color: #b0b0b0;
  margin-bottom: 2rem;
  max-width: 300px; 
  align-items: center;

}

.formWrapper form {
  width: 100%;
  max-width: 350px; 
}

.submitButton {
  padding: 14px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  font-size: 1rem !important;
  background-color: #3176f4!important; 
  margin-top: 1rem !important;
  border-radius: 6px !important;
  transition: background-color 0.2s ease !important;
}

.submitButton:hover {
  background-color: var(--primary-color-hover) !important; 
}

.invalidLink {
  margin-top: 2rem;
  max-width: 350px;
}

.backLink {
  display: inline-block;
  margin-top: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.backLink:hover {
  text-decoration: underline;
}

