
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
}

/* 2. Garante que os elementos principais ocupem todo o espaço */
html, body, #root {
  height: 100%;
  width: 100%;
}

body h1, body p, body a, body h2, body h3, body h4, body h5, body h6{
    font-family: 'Montserrat', sans-serif; 
}

body p{
    font-family: 'Montserrat', sans-serif; 
}

:root {
  --primary-color: #2962FF;
  --primary-color-hover: #0039CB;

  --background-dark: #121212;
  --background-light: #1E1E1E;
  
  --text-light: #FFFFFF;
  --text-medium: #A0A0A0;
  --text-dark: #121212;
}




