
.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;


  
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    var(--background-image-url);
  background-size: cover;
  background-position: center;
}

.authCard {
  width: 100%;
  background-color: aqua;
  max-width: 900px; /* Largura máxima do card */
  min-height: 600px;
  display: flex; 
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

/* Coluna da Esquerda (Imagem) */
.imagePanel {
  flex-basis: 45%; /* Define a largura da coluna da imagem */
  flex-shrink: 0; /* Não deixa a coluna encolher / talvez mude dps */
}

.imagePanel img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Formulário */
.formPanel {
  flex-grow: 1; /* Ocupa o resto do espaço */
  padding: 3rem 2.5rem;
  background: rgba(10, 10, 10, 0.75);
  backdrop-filter: blur(10px);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* --- Responsividade --- */
@media (max-width: 768px) {
  .authContainer {
    padding: 0; 
  }

  .authCard {
    flex-direction: column;
    min-height: 100vh;
    border-radius: 0;
  }

  .imagePanel {
    display: none;
  }

  .formPanel {
    flex-grow: 1;
    width: 100%;
    border-left: none;
  }
}
