
.moviesGrid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem; 
}

/* Estilo para a mensagem de "Nenhum filme encontrado" */
.moviesGrid p {
  color: #ccc;
  font-size: 1.2rem;
  text-align: center;
  grid-column: 1 / -1; 
}
