/* -- Wrapper Principal do Formulário -- */
.formWrapper {
  padding: 2rem 2.5rem; /* Aumenta o padding para mais "respiração" */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Garante que tudo dentro do wrapper esteja centrado */
}

/* -- Logo -- */
.logo {
  width: 120px; /* Um pouco maior para mais destaque */
  height: auto;
  margin-bottom: 1.5rem;
}

/* -- Título da Página -- */
.title {
  font-size: 2rem; /* Aumenta o tamanho do título */
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5rem; /* Menos margem para aproximar do subtítulo */
  align-items: center;
}

/* -- Subtítulo/Instruções -- */
.instructions {
  color: #b0b0b0; /* Cor mais suave para o texto secundário */
  margin-bottom: 2rem;
  max-width: 300px; /* Limita a largura para melhor legibilidade */
  align-items: center;

}

/* -- Formulário -- */
.formWrapper form {
  width: 100%;
  max-width: 350px; /* Define uma largura máxima para o formulário */
}

/* -- Botão de Submissão -- */
.submitButton {
  padding: 14px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  font-size: 1rem !important;
  background-color: #E50914 !important; /* Cor de destaque da Netflix */
  margin-top: 1rem !important;
  border-radius: 6px !important;
  transition: background-color 0.2s ease !important;
}

.submitButton:hover {
  background-color: #f6121d !important; /* Efeito de hover */
}

/* -- Mensagens de Link Inválido -- */
.invalidLink {
  margin-top: 2rem;
  max-width: 350px;
}

.backLink {
  display: inline-block;
  margin-top: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.backLink:hover {
  text-decoration: underline;
}

