body.recover-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
  color: #333;
}

.recovery-container {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.titulo-recuperar{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color:white;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

/* Buttons */
.button-group-registrar {
  margin-top: 20px;
}

.btn-recuperar1, 
.btn-recuperar-voltar1 {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

/* Button Recuperar Conta */
.btn-recuperar1 {
  background: linear-gradient(to right, #007bff, #00b7ff); /* Gradiente azul */
  color: white;
}

.btn-recuperar1:hover {
  background: linear-gradient(to right, #0056b3, #0088cc); /* Gradiente azul mais escuro */
  transform: scale(1.05); /* Efeito de aumento */
}

/* Button Voltar */
.btn-recuperar-voltar1 {
  background: linear-gradient(to right, #0056b3, #0088cc); /* Gradiente laranja */
  color: white;
  margin-top: 10px; /* Adiciona um pequeno espaço entre os botões */
}

.btn-recuperar-voltar1:hover {
  background: linear-gradient(to right, #0056b3, #0088cc); /* Gradiente laranja mais escuro */
  transform: scale(1.05); /* Efeito de aumento */
}

/* Button animation */
.btn-recuperar1:active, .btn-recuperar-voltar1:active {
  transform: scale(0.95); /* Efeito de redução quando clicado */
}

.label-recover{
  color:white;
}
